.currenciesList{
    display: flex;
    &__currencie{
        border: 2px solid blue;
        margin: .3em;
        padding: .3em;
        border-radius: .3em;
        cursor: pointer;
    }
}

.selected{
    background-color: aqua;
}